.contact_me {
    margin: 20px 0% 100px 1%;
}

.contact_me h1 {
    font-weight: bold;
    font-size: 20px;
}

.contact_me_input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0px 10px 10px;
}

.contact_me_input input {
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    line-height: inherit;
}

.contact_me button {
    width: 100px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
}